*{
    margin:0;
    padding:0;
}

.map-container{
    flex:50%;
    /* border:2px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map-title{
    /* border:2px solid black; */
    width: 100%;
}
.map-map{
    /* border:2px solid black; */
    width: 100%;
}